// Black
$black: #000;
$black-light: #202023;
$black-transparent: hsla(240, 4%, 13%, 0.5);
$black-hover: hsl(240, 0%, 50%);
// White
$white: #FFF;
$white-hover: hsl(0, 0%, 85%);
// Blue
$blue: #007AC9;
$blue-dark: #00407A;
$blue-light: #BDE3FB;
$blue-lightest: #DFF1FD;
// Grey
$light-grey: #89898B;
// Orange
$orange: #E95D2A;
$orange-hover: #DB511F;
// Green
$green: #06A92A;